.emoji {
  padding-left: 10px;
}

.fullWidth {
  width: 100%;
}

.inline-item {
  display: inline-block;
  width: calc(50% - 6px);
}

.ant-form {
  width: 80%;
  text-align: left;
}

.form-statistic {
  width: 15%;
}

.form-flex {
  display: flex;
}

.button-row {
  margin: 15px 0px;
  display: flex;
  justify-content: center;

  &-item {
    margin-left: 3px;
    width: 100px;
  }
}

.unit {
  margin-left: auto;
}

.distance-wrapper > .ant-form-item-control > .ant-form-item-control-input {
  display: flex;

  & > .ant-form-item {
    margin-bottom: 0;
  }
}

.ant-spin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.ant-spin-nested-loading {
  height: 100%;
}
