.graphs {
  display: grid;
  grid-template: repeat(3 auto) / repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.activity-graph-wrapper {
  width: 100%;
  grid-column: 1 / 3;
}

.statistics--dow {
  width: 100%;
  grid-column: 1 / 2;
}
