.stats {
  height: 100%;

  span > svg {
    margin-left: 5px;
  }
}

.statistics-grid {
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template: auto auto 30px / repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;

  & > .ant-btn {
    grid-column: 2/3;
  }
}
