.statistics {
  & > .stats {
    & > .ant-statistic {
      width: 200px;
      margin: auto;
    }
    margin: 10px 0;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  & > .statistics--trendline > .recharts-wrapper {
    margin: 10px auto;
  }

  & > .statistics--pie > .recharts-wrapper {
    margin: 10px auto;
  }
}
