.statistics {
  & > .stats {
    & > .ant-statistic {
      width: 200px;
      margin: auto;
    }
    margin: 5px 0;
    display: grid;
    grid-template: auto auto auto / auto auto;
    align-items: center;
  }

  & > .statistics--trendline {
    & > .recharts-wrapper {
      margin: 5px auto;
    }

    & > h3 {
      color: gray;
    }
  }

  & > .statistics--pie > .recharts-wrapper {
    margin: 5px auto;
  }
}
