.emoji {
  padding-left: 10px;
}

.fullWidth {
  width: 100%;
}

.inline-item {
  display: inline-block;
  width: calc(50% - 18px);
}

.ant-btn {
  margin-left: 3px;
  width: 100px;
}

.ant-form {
  width: 80%;
  text-align: left;
}

.ant-statistic {
  width: 20%;
}

.form-flex {
  display: flex;
}

.button-row {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}