.header {
  border-bottom: 2px solid var(--light-primary);

  &__extra {
    display: flex;
  }

  &__strava-button {
    margin-right: 20px;
    color: white;
    background-color: #fc4c02;
    border-color: white;

    &--registered {
      margin-right: 20px;
      color: #135200 !important;
      border-color: #135200 !important;
    }

    &:hover {
      color: #fc4c02;
      background-color: transparent;
      border-color: #fc4c02;
    }

    &:focus {
      color: #fc4c02;
      background-color: transparent;
      border-color: #fc4c02;
    }
  }
}
