.container {
  width: 600px;
  background-color: #fcfcfc;
  border-radius: 2px;
  border: 1px solid lightgray;
  padding: 10px;
}

.data-table {
  width: 1000px;
}

h3 {
  color: var(--primary);
  margin-bottom: 10px;
}